@import "tailwindcss";

:root {
  --background: #9CAF88;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-lily-script-one);
  font-size: 5rem;
}

h2 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: xx-large;
}

h4 {
  font-family: var(--font-caveat);
  font-weight: 600;
}

p {
  font-family: var(--font-inter);
}

.paper-text-one {
  font-family: var(--font-londrina-sketch);
  font-size: xx-large;
}

.paper-text-two {
  font-family: var(--font-cabin-sketch);
  font-weight: 700;
}

.paper-text-three {
  font-family: var(--font-redacted-script);
  font-weight: 300;
}

.paper-shadow {
  box-shadow:
    inset 0 2px 3px rgba(0, 0, 0, 0.5),       /* upper shadow */
    inset -8px 0 5px -5px rgba(0, 0, 0, 0.5), /* inner right shadow */
    0 10px 15px -3px rgba(0, 0, 0, 0.3);      /* outer shadow */
}